.DS_Store
*.lock.json
*.swp
*.swo
.zsh_history
.bash_history

mac-setup/home/config/raycast/config.json
mac-setup/home/config/raycast/extensions/
mac-setup/home/config/gh
mac-setup/home/config/jellyfin
mac-setup/home/config/qBittorrent
mac-setup/home/config/iterm2

mac-setup/home/docker
mac-setup/home/windsurf
mac-setup/home/th-client
mac-setup/home/vim
mac-setup/home/vscode
mac-setup/brave

.crew/

ai/agents-skills/.DS_Store
ai/claude/.DS_Store
ai/secrets.env